 header p:first-child{
    background-color: green;
}

 header  p:nth-child(10) {
    background-color: pink;  
}


 header  h1:nth-child(5) {
    background-color: red;  
}


 header  div  section  div  h1:nth-child(4) {
    background-color: cyan;  
}


 header  div  p:nth-child(5) {
    background-color: brown;  
}


 header  h1:nth-child(20) {
    background-color: blue; 
}


 header  div  h1:nth-child(5) {
    background-color: orange;  
}


 header  p:nth-child(10) {
    background-color: purple;  
}


 header  section  h1:nth-child(1) {
    background-color: yellow;  
}


 header  section > h1:nth-child(5) {
    background-color: teal;  
}


 header  div  div  h1:nth-child(5) {
    background-color: magenta;  
}

pre {
    background-color: lime;  
}