body header p:first-child {
    background-color: red;
}


body  header  p:nth-child(10) {
    background-color: blue;  
}


body  header  h1:nth-child(5) {
    background-color: green;  
}


body  header  div  section  div  h1:nth-child(4) {
    background-color: brown;  
}


body  header  div  p:nth-child(5) {
    background-color: cyan;  
}


body  header  h1:nth-child(20) {
    background-color: pink; 
}


body  header  div  h1:nth-child(5) {
    background-color: purple;  
}


body  header  p:nth-child(10) {
    background-color: orange;  
}


body  header  section  h1:nth-child(1) {
    background-color: yellow;  
}


body  header  section > h1:nth-child(5) {
    background-color: teal;  
}


body  header  div  div  h1:nth-child(5) {
    background-color: magenta;  
}

pre {
    background-color: lime;  
}